.footer {
  min-height: 74.7479019165039px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;

  .footer__text {
    font-size: 1.4rem;
    color: #AAAAAA;
    font-weight: 500;
  }
}
